.hero {
    display: flex;
    background-color: #301934;
    color: #ffc107;
    height: 90vh;
    padding: 2%;
}

.hero-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5%;
}

.hero-text {
    font-size: xx-large;
    margin-bottom: 3%;
    word-spacing: 1%;
}

.hero-description {
    font-size: larger;
    max-width: 50%;
    margin-bottom: 2%;
}

.hero-image {
    flex: 1;
    background: url("https://imgs.search.brave.com/eRAXCCExW_1NcV22cL9igi54M5NFY3wb0_pZt9IVvj4/rs:fit:500:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTEz/NDM1MzE2NC9waG90/by9ib29rc3RvcmUu/anBnP3M9NjEyeDYx/MiZ3PTAmaz0yMCZj/PTJ3UDlJaVBvVHda/eUpvY0xaZm9jVk5O/WlRUdmxFZHFNc19t/c3hGRmVaV0k9") center;
    background-size: 90%;
    background-repeat: no-repeat;
}
